<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.sobremi}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>A cerca De mí</h1>
                <p>Domicilio: {{persona.domicilio}}</p>
                <p>Fecha de Nacimiento: {{persona.fechaNac}}</p>
                <p>Edad: {{persona.edad}}</p>
                <p>Teléfono: {{persona.telefono}}</p>
                <p>Correo: {{persona.correo}}</p>
        </span>
    </div>
</div>
