<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/icone-html-orange.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/css.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/javascript.jpg'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/git.png'"
            [imageHeight]="100"
            [imageWidth]="130"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/java.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/mysql.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
</div>