<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Pac-Man (Scratch)</h2>
            <p>El objetivo del juego de Pacman consiste en comer el máximo número de pepitas y obtener
                 puntos. Para ello tendremos que guiar a nuestro Pacman por el laberinto en busca de 
                 la comida evitando ser acorralados por los fantasmas.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/pac-man.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>