<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logo">
        </div>
        <div class="redes">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <section class="buttons" id="section">
                <a href="https://www.facebook.com/leonel.reindl" class="fa fa-facebook"></a>
                <a href="https://twitter.com/reindl_leonel" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/leoreindl" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/leonel-iv%C3%A1n-reindl-46aa42148/" class="fa fa-linkedin"></a>
                <button type="button" class="btn btn-outline-secondary" id="login" (click)="login()">
                    Login
                </button>
            </section>
        </div>
    </div>
</div>