nav{
    padding-right:20px;
    height:80px;
}
.row{
    padding: 20px;
    max-width: 100%;
    border-style:solid;
    border-width: 1.3px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
    