<div class="aptitudes">
    <h4>Aptitudes:</h4>
    <ol>
        <li>
            Innovación y nuevas tecnologías. Al día en las tendencias del mercado de 
            telecomunicaciones y cultura 2.0, así como habilidad en el manejo de plataformas 
            sociales digitales y nuevas tecnologías.
        </li>
        <li>
            Capacidad de análisis. Soltura en el manejo de informaciones complejas y análisis de escenarios, 
            así como la obtención de conclusiones y la previsión de futuras necesidades.
        </li>
        <li>
            Trabajo en equipo. Buenas relaciones interpersonales, empatía y canalización productiva de 
            situaciones de stress. Buena integración al grupo y capacidad de blend-in.
        </li>
        <li>
            Resolución de problemas. Capacidad de pensamiento independiente y creativo, think-outside-the-box 
            y comodidad en los cambios frecuentes de perspectiva. Alta adaptabilidad y versatilidad laborales.
        </li>
        <li>
            Lectura analítica. Capacidad de interpretación avanzada y formulación de ideas complejas, 
            manejo de textos herméticos y exigentes. Amplia cultura general.
        </li>
        <li>
            Manejo de herramientas digitales. Comodidad con entornos virtuales, oficinas remotas y 
            telecomunicaciones. Presencia en redes sociales y dominio de la terminología especializada.
        </li>
        <li>
            Capacidad para el pensamiento abstracto. Buen agarre de la lógica, de escenarios hipotéticos y 
            modelos de datos múltiples o de informaciones complejas.
        </li>
    </ol>
</div>

