.aptitudes{
        padding:10px ;
        border-style:solid;
        border-width: 1.3px;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
        color: aliceblue;
}