
<div class="row" id="experiencia">
    <h1>Experiencia y Educación</h1>
    <div>
        <ul>
            <li>
                {{experiencia.nombre_empresa}}{{experiencia.fecha_inicio}}{{experiencia.fecha_fin}}
            </li>
            <li>Carrera de Grado: Licenciatura en Análisis de Sistemas - UNSa (2018-2019)</li>
            <li>Carrera de Grado: Ingeniería en Informática - UCASAL (2011-2016)</li>
            <li>Idiomas: Inglés (B2)</li>
            <li>Congresos y Cursos:</li>
            <ul>
            <li>Curso de Programación (Argentina Programa 2022)</li>
            <li>Curso de Programación (Argentina Programa 2020)</li>
            <li>4° Congreso Nacional de Ingeniería en informática / Sistemas de Información CoNaIISI 2016</li>
            <li>Curso de Ofimática Instituto Roberto Romero (2009)</li>
            </ul>
        </ul>
</div>
